<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="fragments/equipment-front-head"></script>
    <script th:inline="javascript"></script>
    <script th:src="@{/js/notifications-front.js}"></script>
    <script th:src="@{/libs/sha.js}"></script>
    <script th:inline="javascript">
    </script>
    <title>Equipment</title>
</head>

<body>
<nav th:replace="${@userService.getLoggedUser()} ? 'fragments/logged-in-navbar' : 'fragments/logged-out-navbar'"></nav>
<div class="container my-5">
    <h5 th:text="#{notification.front.header}"></h5>
    <span id="notifications">
    </span>
</div>
<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/delete-object-modal :: modal"></div>
</body>
</html>